*.class
.vscode/
bin/
target/
/Praktikum 10/In Lab/jdbc_mhs_service/nbproject/private/
/Praktikum 10/Akses Basis Data/jdbc_mhs_service/build/
/Praktikum 11/In Lab/Modul_A/nbproject/private/
/Praktikum 11/In Lab/Modul_A/build/
/Praktikum 11/Tugas/src/Modul_A/nbproject/private/
/Praktikum 11/Tugas/src/Modul_A/build/
